<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pet Shop</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Animals
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a [routerLink]="['/animals/dogs']">Dogs</a>
          </li>
          <li>
            <a [routerLink]="['/animals/cats']">Cats</a>
          </li>
          <li>
            <a [routerLink]="['/animals/mice']">Mice</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">XML
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">SiteMap</a>
          </li>
          <li>
            <a href="#">ImageMap</a>
          </li>
          <li>
            <a href="#">VideoMap</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Terms Of Service</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>